
{% extends "base.html" %}

{% block contenido %}

  <section class="mb-4">
    <div class="container">
      <div class="p-4 rounded-4 shadow-sm"
           style="background: linear-gradient(120deg, #b7aba4, #e0dad7);">
        <h2 class="mb-1 fw-bold text-dark">Buscador de alimentos</h2>
        <p class="mb-0 text-dark">
          Consulta la base de datos de alimentos y revisa información nutrimental clave para tus decisiones diarias.
        </p>
      </div>
    </div>
  </section>

  <div class="container mb-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

  
    {% block content %}{% endblock %}
  </div>

{% endblock %}


