

<section>
        <div class="card shadow rounded-3 p-4 text-start" style="background-color: #b7aba4">
    <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 30px;">
        <form style="width: 60%; display: flex; justify-content: space-between; text-align: left;">
            <div style="width: 48%;">
                <div style="margin-bottom: 15px;">
                    <select id="sexo" name="Genero" class="btn btn-card" style="width: 100%; background-color: #e0dad7 " class="form-control">
                        <option value="masculino">Genero</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                    </select>
                </div>

                <div style="margin-bottom: 15px;">
                    <input type="number" id="peso" name="peso" class="btn btn-card" style="width: 100%; background-color: #e0dad7" class="form-control" placeholder="Edad"> 
                </div>

                <div style="margin-bottom: 15px;">
                    <input type="number" id="altura" name="altura" class="btn btn-card" style="width: 100%; background-color: #e0dad7" class="form-control" placeholder="Altura"> 
                </div>
            </div>

            <div style="width: 48%;">
                <div style="margin-bottom: 15px;">
                    <input type="number" id="peso" name="peso" class="btn btn-card"style="width: 100%; background-color: #e0dad7" class="form-control" placeholder="Peso"> 
                </div>
            </div>
        </form>
    </div>

    <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-card" style="width: 50%;">Calcular</button>
    </div>
    </div>
</section>