{% extends "base.html" %}
{% block contenido %}

<section>
    <div class="card shadow rounded-3 p-4 text-start" style="background-color: #b7aba4">

        <h2 class="text-center mb-4">Calculadora Gasto Calórico Total (GCT)</h2>

        <form method="POST">
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 30px;">
                <div style="width: 60%; display: flex; justify-content: space-between; text-align: left;">

                    <div style="width: 48%;">
                        <div style="margin-bottom: 15px;">
                            <input type="number" name="tmb" class="btn btn-card" style="width: 100%; background-color: #e0dad7;" placeholder="TMB">
                        </div>
                    </div>

                    <div style="width: 48%;">
                        <div style="margin-bottom: 15px;">
                            <select name="actividad" class="btn btn-card" style="width: 100%; background-color: #e0dad7;">
                                <option value="">Nivel de actividad</option>
                                <option value="sedentario">Sedentario</option>
                                <option value="ligero">Ligero</option>
                                <option value="moderado">Moderado</option>
                                <option value="activo">Activo</option>
                                <option value="muy_activo">Muy activo</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                <button type="submit" class="btn btn-card" style="width: 50%; background-color:#8F7570; color:white;">Calcular</button>
            </div>
        </form>

        {% if gct %}
        <div class="mt-4 p-3 rounded" style="background-color:#e0dad7;">
            <h5>Resultado:</h5>
            <p><strong>Gasto calórico total:</strong> {{ gct }} calorías/día</p>
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}
