{% extends "calculadora.html" %}
{% block contenido %}

<br>
<br>
<section>
    <div class="card shadow rounded-3 p-4 text-start" style="background-color: #b7aba4">

        <h2 class="text-center mb-4">Calculadora Tasa Metabólica Basal (TMB)</h2>

        <form method="POST">
            <div style="width: 100%; display: flex; justify-content: center; margin-top: 30px;">
                <div style="width: 60%; display: flex; justify-content: space-between;">

                    <div style="width: 48%;">
                        <div style="margin-bottom: 15px;">
                            <select name="sexo" class="btn btn-card"
                                style="width: 100%; background-color: #e0dad7;">
                                <option value="">Género</option>
                                <option value="hombre">Masculino</option>
                                <option value="mujer">Femenino</option>
                            </select>
                        </div>

                        <div style="margin-bottom: 15px;">
                            <input type="number" name="edad" class="btn btn-card"
                                style="width: 100%; background-color: #e0dad7;" placeholder="Edad">
                        </div>

                    </div>

                    <div style="width: 48%;">
                        <div style="margin-bottom: 15px;">
                            <input type="number" name="peso" class="btn btn-card"
                                style="width: 100%; background-color: #e0dad7;" placeholder="Peso (kg)">
                        </div>

                        <div style="margin-bottom: 15px;">
                            <input type="number" name="altura" class="btn btn-card"
                                style="width: 100%; background-color: #e0dad7;" placeholder="Altura (cm)">
                        </div>
                    </div>

                </div>
            </div>

            <div style="width: 100%; display: flex; justify-content: center;">
                <button type="submit" class="btn btn-card"
                    style="width: 50%; background-color:#8F7570; color:white;">
                    Calcular
                </button>
            </div>
        </form>

        {% if tmb %}
        <div class="mt-4 p-3 rounded" style="background-color:#e0dad7;">
            <h5>Resultado:</h5>
            <p><strong>TMB:</strong> {{ tmb }} calorías/día</p>
        </div>
        {% endif %}

    </div>
</section>

{% endblock %}
