{% extends "base.html" %} {% block contenido %}

<section class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div
          class="card shadow-lg border-0 rounded-4 overflow-hidden"
          style="background-color: #b7aba4"
        >
          <div class="row g-0 align-items-center">
            <div class="col-md-5">
              <img
                src="{{ url_for('static', filename='image/19.png') }}"
                class="img-fluid h-100 w-100"
                alt="Imagen ilustrativa de alimentación saludable FITBITE"
                style="object-fit: cover"
              />
            </div>
            <div class="col-md-7">
              <div class="card-body p-4 text-center text-md-start">
                <h2 class="fw-bold mb-3">
                  Bienvenido Juan Perez
                </h2>
                <h5 class="fw-bold mb-3">
                  Informacion basica:
                </h5>
                <span class="text-dark fw-semibold"> Email:{{ session.get('usuario_email') }}</span> <br>
                <span class="text-dark fw-semibold"> Peso actual:{{ session.get('peso') }}</span> <br>
                <span class="text-dark fw-semibold"> Peso objetivo:{{ session.get('pesoO') }}</span> <br>
                <span class="text-dark fw-semibold"> Altura:{{ session.get('altura') }}</span> <br>
                <span class="text-dark fw-semibold"> Objetivo:{{ session.get('obj') }}</span> <br>
                 <span class="text-dark fw-semibold">Nivel de actividad: {{ session.get('act') }}</span> <br>
                <h5 class="fw-bold mb-3"> 
                  Preferencias
                </h5>
                <p class="text-muted">
                    Para mejorar mi salud en general
                </p>
                <p class="text-muted">
                    Dormir mejor y sentirme con más energía
                </p>
                <p class="text-muted">
                    Ninguno
                </p>
                <p class="text-muted">
                    Ninguno
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}